* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: SecularOne, sans-serif;   
}

@font-face {
    font-family: SecularOne;
    src: url(./assets/SecularOne.ttf);
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.head {
    background-color: #03045E;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: SecularOne, sans-serif;   
}

.books {
    background-color: #ADE8F4;
    flex-grow: 1;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 400px);
    padding: 100px;
}

/*
    book card 
    css properties
*/
#book, #book2, #book3{
    background-color: #023E8A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
}

button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: black;
    height: 100px;
    width: 100px;
    border-radius: 100px;
}