* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: SecularOne, sans-serif;   
}

@font-face {
    font-family: SecularOne;
    src: url(./assets/SecularOne.ttf);
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.head {
    background-color: #03045E;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: SecularOne, sans-serif;   
}

.books {
    background-color: #ADE8F4;
    flex-grow: 1;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 300px));
    grid-template-rows: repeat(auto-fill, minmax(100px, 400px));
    padding: 100px;
}

/*
    book card 
    css properties
*/
#book{
    background-color: #023E8A;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    padding: 45px;
    border-radius: 50px;
    font-size: 25px;
}

.read {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 25px;
    width: 5rem;
}


button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 0px;
    background-color: #023E8A;
}